.movies-cards {
  width: 1140px;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
}

.movies-cards__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  column-gap: 24px;
  row-gap: 37px;
}

.movies-cards__more-movies-button {
  width: 320px;
  height: 36px;
  padding: 0;
  border: 0;
  background: #F9F9F9;
  border-radius: 6px;
  margin: 60px auto 0 auto;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .movies-cards {
    width: 708px;
  }

  .movies-cards__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    column-gap: 30px;
    row-gap: 30px;
  }

  .movies-cards__more-movies-button {
    margin: 80px auto 0 auto;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .movies-cards {
    width: 300px;
    margin-top: 50px;
    margin-bottom: 102px;
  }

  .movies-cards__list {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    row-gap: 14px;
  }

  .movies-cards__more-movies-button {
    margin: 76px auto 0 auto;
    width: 240px;
  }
}

