.movies-card {
  width: 364px;
  height: 281px;
  background: #FDFDFD;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}

.movies-card_deleted {
  display: none;
}

.movies-card__like-block {
  margin: 12px 16px 16px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movies-card__image {
  width: 100%;
  height: 203px;
  border-radius: 6px 6px 0 0;
}

.movies-card__title {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  margin: 0;
  display: block;
}

.movies-card__like-button {
  background-image: url(../../images/like.svg);
  background-position: center;
  width: 14px;
  height: 12px;
  border: 0;
  background-color: #fff;
  padding: 0;
  margin-right: 8px;
  cursor: pointer;
}

.movies-card__like-button_active {
  background-image: url(../../images/like-active.svg);
}

.movies-card__delete-button {
  background-image: url(../../images/delete-button.svg);
  background-position: center;
  width: 16px;
  height: 16px;
  border: 0;
  background-color: #fff;
  padding: 0;
  cursor: pointer;
  opacity: 0;
}

.movies-card:hover > .movies-card__like-block > .movies-card__delete-button {
  opacity: 1;
}

.movies-card__duration {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #a0a0a0;
  margin-left: 16px;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .movies-card {
    width: 339px;
    height: 262px;
  }

  .movies-card__like-block {
    margin: 14px;
  }

  .movies-card__title {
    line-height: normal;
  }

  .movies-card__image {
    height: 190px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .movies-card {
    width: 300px;
    height: 237px;
  }

  .movies-card__delete-button {
    opacity: 1;
  }

  .movies-card__like-block {
    margin: 14px;
  }

  .movies-card__title {
    line-height: normal;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
  }

  .movies-card__duration {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .movies-card__like-block {
    margin-top: 11px;
  }

  .movies-card__like-button {
    margin-right: 4px;
    margin-top: 3px;
  }

  .movies-card__image {
    height: 168px;
  }
}
