.user {
  margin: auto;
  max-width: 396px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.user__logo {
  cursor: pointer;
}

.user__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 40px 0;
}

.user-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.user-form__label {
  color: #A0A0A0;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 18px;
}

.user-form__label:first-of-type {
  margin-top: 0;
}

.user-form__input {
  margin-top: 5px;
  margin-bottom: 6px;
  padding: 0;
  border: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height: 28px;
  border-bottom: #E8E8E8 solid 1px;
}

.user-form__input:focus {
  outline: none;
  border-bottom: #FF6838 1px solid;
}

.user-form__input:invalid {
  color: #EE3465;
}

.user-form__input-error {
  color: #EE3465;
}

.user-form__error-message {
  color: #EE3465;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
}


.user-form__submit-button {
  margin-top: 146px;
  width: 100%;
  height: 45px;
  border-radius: 3px;
  background: #FF6838;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: 0;
  cursor: pointer;
}

.login-button {
  margin-top: 198px;
  cursor: pointer;
}

.user-form__link-text {
  color: #A0A0A0;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.user-form__link {
  color: #FF6838;
  text-decoration: none;
}


@media (min-width: 320px) and (max-width: 767px) {
  .user {
    max-width: 260px;
    align-items: center;
  }

  .user-form__submit-button {
    margin-top: 240px;
  }

  .login-button {
    margin-top: 309px;
  }

  .user-form__link-text {
    font-size: 12px;
  }
}
