.footer {
  width: 100%;
  min-height: 172px;
  margin: 0;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.footer__project {
  margin: 79px 0 20px 0;
  color: #a0a0a0;
}

.footer__bottom-block {
  min-width: 1140px;
  width: 89%;
  border-top: 1px solid #e8e8e8;
  display: flex;
  justify-content: space-between;
}

.footer__copyright {
  margin: 20px 0 0 0;
}

.footer__links {
  display: flex;
  margin: 20px 0 0 0;
}

.footer__link {
  margin: 0;
}

.footer__link:first-of-type {
  margin-right: 20px;
}


@media (min-width: 768px) and (max-width: 1279px) {
  .footer {
    background-color: #fff;
    font-weight: 400;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .footer__bottom-block {
    min-width: 708px;
    width: 92%;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer {
    background-color: #fff;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    min-height: 253px;
  }

  .footer__project {
    margin-top: 58px;
  }

  .footer__bottom-block {
    min-width: 300px;
    width: 93%;
    display: grid;
    grid-template-areas:
      "links"
      "copy";
    justify-content: center;
    row-gap: 30px;
  }

  .footer__copyright {
    margin: 0;
    grid-area: copy;
    color: #A0A0A0;
  }

  .footer__links {
    flex-direction: column;
    margin: 0;
  }

  .footer__link:first-of-type {
    margin-top: 30px;
    margin-right: 0;
    margin-bottom: 12px;
  }
}
